//
// Icon
//

.icon {
  width: $icon-size;
  height: $icon-size;

  i,
  svg {
    font-size: $icon-size - 0.75;
  }

  + .icon-text {
    padding-left: 1rem;
    width: calc(100% - #{$icon-size} - 1);
  }
}

// Extra large icons

.icon-xl {
  width: 10;
  height: 10;

  i,
  svg {
    font-size: 10 - 0.75;
  }

  + .icon-text {
    width: calc(100% - 1);
  }
}

// Large icons

.icon-lg {
  width: 10;
  height: 10;

  i,
  svg {
    font-size: 10 - 0.75;
  }

  + .icon-text {
    width: calc(100% - 10 - 1);
  }
}

// Small icon

.icon-sm {
  width: 5;
  height: 5;

  i,
  svg {
    font-size: 5 - 0.75;
  }

  + .icon-text {
    width: calc(100% - 5 - 1);
  }
}
